@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');


#root, body, html {
  min-width: 100vw !important;
  font-family: "Almarai", sans-serif !important;
  min-height: 100vh !important;
  margin: 0 !important;
  background-color: white !important;
  color: black !important;
  overflow: hidden;
}

.embla {
  overflow: hidden !important;
}
.embla__container {
  display: flex !important;
}
.embla__slide {
  flex: 0 0 100% !important;
  min-width: 0;
}

.ant-typography {
  font-family: "Almarai", sans-serif !important;
}

.ant-descriptions-item-content {
  background-color: rgba(255, 255, 255, 0.644);
}

.ant-descriptions-item-label {
  background-color: #737694 !important;
  color: white !important;
}

.ant-collapse-header-text {
  color: white;
}

.ant-collapse-expand-icon {
  color: white;
}
.ant-modal-title{
  text-align: center !important;
}